@font-face {
  font-family: 'SKYBORI';
  src: url('https://cdn.jsdelivr.net/gh/fontbee/font@main/SKYBORI/SKYBORI.ttf') format('truetype'),
       url('https://cdn.jsdelivr.net/gh/fontbee/font@main/SKYBORI/SKYBORI.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}